.btn-slider {
    &-left, &-right {
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: 2px solid white;
        transition: $transition-time;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7px;

        &:hover {
            background-color: $color-primaty;

        }
        &:focus {
            outline: none;
        }
    }
    &-left {
        background-image: url(../img/svg/left-arrow.svg);
    }

    &-right {
        background-image: url(../img/svg/right-arrow.svg);
    }
}