.contact-ref {
    &-links {
        display: flex;
    }

    &-tel,
    &-email,
    &-btn,
    &-address {
        a {
            @include roboto-regular;
            font-size: 15px;
            display: block;
            transition: $transition-time;
        }
    }
    &-tel,
    &-email,
    &-address {
        display: flex;
        a {
            color: $contact-ref-text;
            align-self: center;
            margin-right: 20px;
            &:hover {
                text-decoration: underline;
            }
        }
        img {
            align-self: center;
            margin-right: 10px;
        }
    }

    &-address {
        img {
            margin-left: 4px;
        }
    }

    &-btn {
        a {
            display: flex;
            color: $contact-ref-btn-text;
            padding: 12px 20px;
            background-color: $color-primaty;
            border: 2px solid $color-primaty;
            max-width: 265px;
            svg {
                z-index: 5;
                height: 16px;
                width: 16px;
                margin-right: 10px;
                path {
                    fill: $header-top-bg-color;
                    transition: $transition-time;
                }
            }
            &:hover {
                background-color: transparent;
                color: $contact-ref-text;
                svg path {
                    fill: $contact-ref-text;
                }
            }
        }
    }
}
