.consultation {
    &-inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    &-content {
        padding: 50px 20px 40px 0;
        width: 100%;
    }
    &-form {
        display: flex;
        margin-top: 25px;

        label {
            @include roboto-regular;
            margin: 15px 5px 5px;
        }

        input,
        select,
        textarea {
            border: 1px solid $form-input-color;
            padding: 10px 10px;
        }

        input,
        select {
            height: 40px;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(../img/icons/angle-down.svg) 96% / 15% no-repeat;
            background-size: 10px 12px;
        }

        textarea {
            resize: none;
            height: 196px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            min-width: 265px;
        }
        &-right {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            flex-basis: 560px;
            justify-content: space-between;

            &-wrap {
                display: flex;
                flex-direction: column;
            }
        }

        button {
            align-self: flex-end;
            width: 230px;

            &:focus {
                outline: none;
            }
        }
    }

    img {
        align-self: flex-end;
    }
}
