.footer {
    &-contact {
        background-color: $footer-contacts-bg-color;
        &-inner {
            display: flex;
            justify-content: space-between;
            padding: 25px 0;
        }
        &-info {
            margin-right: 10px;
            display: flex;
            flex-direction: column;
            &-text {
                h5 {
                    @include roboto-medium;
                    font-size: 16px;
                    letter-spacing: 0.05em;
                    color: $footer-info-title-color;
                }
                p {
                    @include roboto-regular;
                    max-width: 350px;
                    margin: 15px 0 20px;
                    color: $footer-info-text-color;
                }
            }

            &-ref {
                .contact-ref-tel,
                .contact-ref-email,
                .contact-ref-address {
                    margin: 20px 0;
                }
            }
        }

        &-map {
            flex-basis: 635px;
            height: 255px;
            iframe {
                width: 100%;
                height: 100%;
            }
        }

        @media screen and (max-width: $tablet-size) {
            &-inner {
                flex-direction: column;
            }
            &-info {
                flex-direction: row;
                margin-right: 0;
                &-text {
                    margin-right: 10px;
                }
                &-ref {
                    flex-basis: 85%;
                }
            }

            &-map {
                flex-basis: auto;
            }
        }

        @media screen and (max-width: $phablet) {
            &-info {
                flex-direction: column;
                text-align: center;
                margin-right: 0;
                &-text {
                    p {
                        max-width: none;
                    }
                }
                &-ref {
                    .contact-ref-btn {
                        a {
                            margin: 0 auto;
                        }
                    }
                    .contact-ref-tel,
                    .contact-ref-email,
                    .contact-ref-address {
                        justify-content: center;
                    }
                }
            }
        }
    }

    &-bottom {
        color: $footer-bottom-text;
        background-color: $footer-bottom-bg-color;
        text-align: center;
        @include roboto-regular;
        font-size: 12px;
        padding: 10px 0;
        letter-spacing: 0.05em;
    }
}
