.header {
    &-top { 
        background-color:$color-top-and-bottom;
    }
    &-content {
        &-logo {
            flex-grow: 1;
            align-items: center;
        }
        &-menu {
            ul{
                padding: 35px 0 25px ;
            }
            a {
                @include roboto-regular;
                color: #323232;
                font-size: 16px;
                display: block;
                padding: 8px 16px;
                margin-left: 10px;
                border: 1px solid transparent;
                transition: $transition-time;
            }
            a:hover {
                border: 1px solid $color-primaty;
            }
        }
    }
}