*{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,li {
   list-style: none;
   margin: 0;
   padding: 0;
}

body {
    @include text-main;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.wrapper {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
