@mixin roboto-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@mixin roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@mixin pt-serif-regular {
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

@mixin pt-serif-bold {
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

@mixin text-main {
    @include pt-serif-regular;
    font-size: 14px;
    line-height: 18px;
}

@mixin text-large {
    font-size: 18px;
    line-height: 24px;
}

@mixin slide-arrow {
    background-color: transparent;
    transition: $transition-time;
     display: block;
     background-repeat: no-repeat;
     background-position: center;
     background-size: 6px;
     height: 40px;
     width: 40px;
}