.news {
    background-color: #f9f9f9;

    &-inner {
        padding: 70px 0 30px;
    }
    figure,
    blockquote {
        margin: 0;
    }

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        margin: 45px -15px 0;

        &-slider {
            padding: 0 15px;
            overflow: hidden;

            &-item {
                display: block;
                background-color: #fff;
                box-shadow: 0px 5px 15px #f0f0f0;
                padding: 0 10px 30px 50px;
                z-index: 5;
                transition: $transition-time;

                &:hover {
                    p {
                        text-decoration: underline;
                    }
                }
            }

            img {
                display: block;
                width: 65px;
                height: 30px;
                background-color: $color-primaty;
                padding: 8px 25px;
            }
            h5 {
                @include roboto-medium;
                @include text-large;
                color: $services-title-color;
                margin: 20px 0 10px;
            }
            p {
                color: $services-text-color;
            }
            span {
                color: $services-title-color;
                display: block;
                margin-top: 30px;
            }
            &-theme {
                .owl-stage-outer {
                    box-shadow: 0px 5px 15px #f0f0f0;
                }
                .owl-nav {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 20px;

                    button.owl-prev,
                    button.owl-next {
                        @include slide-arrow;
                        border: 1px solid #dadada;

                        &:hover {
                            background-color: $color-primaty;
                        }
                        &:focus {
                            outline: none;
                        }
                        span {
                            display: none;
                        }
                    }

                    button.owl-next {
                        margin-left: 20px;
                        background-image: url(../img/icons/angle-right-gray.svg);
                    }
                    button.owl-prev {
                        background-image: url(../img/icons/angle-left-gray.svg);
                    }
                }
            }
        }

        &-info {
            padding: 0 15px 20px;
            ul {
                display: flex;
                justify-content: space-between;
                margin: 0 -15px;
            }
            li {
                flex-basis: 50%;
                padding: 0 15px;
            }

            a {
                transition: $transition-time;
                &:hover {
                    p {
                        text-decoration: underline;
                    }
                }
            }

            &-img {
                position: relative;
                time {
                    display: block;
                    @include pt-serif-bold;
                    position: absolute;
                    z-index: 5;
                    color: #ffffff;
                    width: 50px;
                    height: 55px;
                    background-color: $color-primaty;
                    left: 10px;
                    text-align: center;
                    padding-top: 30px;
                }
                img {
                    position: relative;
                }
            }

            h4 {
                @include roboto-medium;
                font-size: 16px;
                color: $services-title-color;
                margin: 15px 0 10px;
            }
            p {
                color: $services-text-color;
            }
        }

        @media screen and (max-width: $tablet-wide-size) {
            flex-direction: column;
            &-info {
                order: -1;
            }
        }

        @media screen and (max-width: $tablet-small-size) {
            &-slider-theme {
                .owl-nav button.owl-prev,
                .owl-nav button.owl-next {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}
