.slider {
    background: url(../img/slider-bg.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 500px;
    position: relative;
    padding: 70px 0 70px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.45);
    }

    &-inner {
        position: relative;
        z-index: 5;
    }

    &-item {
        max-width: 660px;
        margin: 0 auto;
        text-align: center;

        h2 {
            @include roboto-medium;
            font-size: 30px;
            color: white;
            text-transform: uppercase;
            display: block;
            line-height: 36px;
            margin: 40px 0;
        }

        p {
            @include pt-serif-regular;
            @include text-large;
            color: $color-text-light;
            display: block;
        }
    }

    &-carousel {
        .owl-nav {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            button.owl-prev,
            button.owl-next {
                background-color: transparent;
                border: 2px solid white;
                transition: $transition-time;
                color: white;
                font-size: 18px;
                padding: 6px 16px 10px;
                display: block;

                &:hover {
                    background-color: $color-primaty;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }

    &-btn {
        
    }
}
