.slider {
    background: url(../img/slider-bg.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 500px;
    position: relative;
    padding: 100px 0 70px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $background-blending;
    }

    &-inner {
        position: relative;
        z-index: 5;
    }

    &-item {
        max-width: 670px;
        margin: 0 auto;
        text-align: center;

        h2 {
            @include roboto-medium;
            font-size: 30px;
            color: white;
            text-transform: uppercase;
            display: block;
            line-height: 36px;
            margin: 15px 0;
            letter-spacing: 0.05em;
        }

        p {
            @include pt-serif-regular;
            @include text-large;
            color: $color-text-light;
            display: block;
        }
    }

    &-carousel {
        .owl-nav {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            button.owl-prev,
            button.owl-next {
                background-color: transparent;
                border: 1px solid white;
                transition: $transition-time;
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 6px;
                height: 40px;
                width: 40px;

                &:hover {
                    background-color: $color-primaty;
                }
                &:focus {
                    outline: none;
                }
                span {
                    display: none;
                }
            }

            button.owl-next {
                background-image: url(../img/icons/angle-right.svg);
            }
            button.owl-prev {
                background-image: url(../img/icons/angle-left.svg);
            }
        }
    }

    &-btn {
        max-width: 180px;
        margin: 20px auto;
        color: white;
    }
}
