$color-top-and-bottom: #303030;

$color-primaty: #ffc222;

$color-btn-hover: rgba(255,194,34,.2);

$color-text-light: #d3d2d2;

$transition-time: 0.3s;

$background-blending:rgba($color: #000000, $alpha: 0.45);

$services-title-color:#212020;
$services-text-color:#5e5e5e;

$form-input-color: #e6e6e6;


