$color-top-and-bottom: #303030;

$color-primaty: #ffc222;

$color-btn-hover: rgba(255,194,34,.2);

$color-text-light: #d3d2d2;

$transition-time: 0.3s;

$background-blending:rgba($color: #000000, $alpha: 0.45);

$services-title-color:#212020;
$services-text-color:#5e5e5e;

$form-input-color: #e6e6e6;

// $breakpoints: (
//   "phone"       : 400px,
//   "phone-wide"  : 480px,
//   "phablet"     : 560px,
//   "tablet-small": 640px,
//   "tablet"      : 768px,
//   "tablet-wide" : 1024px,
//   "desktop"     : 1248px,
//   "desktop-wide": 1440px
// );

$tablet-wide-size: 990px;
$tablet-size: 850px;
$tablet-small-size: 700px